.rectangulo{

     display: flex;
     border: 2.5px solid crimson;
     align-items: stretch ; 
     flex-direction: row;
     height: 200px;
     width: 500px;

}

.uno{
  
     width: 20px;
     background-color: rgba(26,188,156,255);
     color: white;
     
}
.dos{
    
    
     background-color: rgba(52,152,219,255);
     color: white;
     width: 20px;
     
}
.tres{
     
     width: 20px;
     background-color: rgba(155,89,182,255);
     color: white;
  
}
.cuatro{
     width: 20px;
     background-color: rgba(52,73,94,255);
     color: white;
     vertical-align: top;
}
.cinco{
     width: 20px;
     background-color: rgba(241,196,15,255);
     color: white;
     vertical-align: top;
}
.seis{
     width: 20px;
     background-color: rgba(230,126,34,255);
     color: white;
     vertical-align: top;
}
.siete{
     width: 20px;
     background-color: rgba(250, 80, 70,255);
     color: white;
     vertical-align: top;
}
.ocho{
     width: 20px;
     background-color:rgba(180, 180, 180,255);
     color: white;
     vertical-align: top;
}
.nueve{
     width: 20px;
     background-color:  rgba(61, 200, 113,255);
     color: white;
     vertical-align: top;
     position: relative;
}
.diez{
     width: 20px;
     background-color:rgba(30, 155, 110,255);
     color: white;
     vertical-align: top;
     position: relative;
}
.white{
      width: 15px;
     background-color: white;
     
     vertical-align: top;

}
.rectanguloo{
     
     display: flex;
     width: 500px; 
     height: 140px; 
     border: 2.5px solid crimson;
     flex-direction: column-reverse;
     align-items: stretch ; 
     
}

.cuatroo{
    
     background-color: rgba(52,73,94,255);
     color: white;
     vertical-align: middle;
     height: 21px;
}
.cincoo{
     
     background-color: rgba(241,196,15,255);
     color: white;
     vertical-align: middle;
     height: 21px;
}
.seiss{
     
     background-color: rgba(230,126,34,255);
     color: white;
     vertical-align: middle;
     height: 21px;
}
.sietee{
     
     background-color: rgba(250, 80, 70,255);
     color: white;
     align: middle;
     height: 21px;
}
.ochoo{
     
     background-color: rgba(180, 180, 180,255);
     color: white;
     vertical-align: middle;
     height: 21px;
}
.nuevee{
     
     background-color:  rgb(61, 200, 113,255);
     color: white;
     vertical-align: middle;
     height: 21px;
}
.diezz{
    
     background-color: rgba(30, 155, 110,255);
     color: white;
     vertical-align: middle;
     height: 21px;
     
}
.rectangulo3{
     display: flex;
     flex-flow:wrap;
     width: 600px; 
     height: 300px; 
     border: 2.5px solid crimson;
     align-content: flex-start;
     
     
}
.uno3{
     width: 200px;
     height: 75px;
     
     background-color: rgba(26,188,156,255);
     color: white;
     vertical-align: top;
}
.dos3{
     width: 200px;
     height: 75px;
     background-color: rgba(52,152,219,255);
     color: white;
     vertical-align: top;
}
.tres3{
     width: 200px;
     height: 75px;
     
     background-color: rgba(155,89,182,255);
     color: white;
     vertical-align: top;
}
.cuatro3{
     width: 200px;
     height: 75px;
     background-color: rgba(52,73,94,255);
     color: white;
     vertical-align: top;
}
.cinco3{
     width: 200px;
     height: 75px;
     background-color: rgba(241,196,15,255);
     color: white;
     vertical-align: top;
}
.seis3{
     width: 200px;
     height: 75px;
     background-color: rgba(230,126,34,255);
     color: white;
     vertical-align: top;
}
.siete3{
     width: 200px;
     height: 75px;
     background-color: rgba(250, 80, 70,255);
     color: white;
     vertical-align: top;
}
.ocho3{
     width: 200px;
     height: 75px;
     background-color: rgba(180, 180, 180,255);
     color: white;
     vertical-align: top;
}
.nueve3{
     width: 200px;
     height: 75px;
     background-color: rgb(61, 200, 113,255);
     color: white;
     vertical-align: top;
     justify-self: center;
}
.diez3{
     width: 200px;
     height: 75px;
     background-color: rgba(30, 155, 110,255);
     color: white;
     
     
}

.rectangulo4{
     display: flex;
     width: 400px; 
     height: 30px; 
     border: 2.5px solid crimson;
     align-content: flex-start;
     align-items: stretch ; 
     
}
.uno4{
     width: 40px;
    
     
     background-color: rgba(26,188,156,255);
     color: white;
     vertical-align: top;
     order: 1;
}
.dos4{
     width: 40px;
     background-color: rgba(52,152,219,255);
     color: white;
     vertical-align: top;
     order: 2;
}
.tres4{
     width: 40px;
     background-color: rgba(155,89,182,255);
     color: white;
     vertical-align: top;
     order: 3;
}
.cuatro4{
     width: 40px;
     background-color: rgba(52,73,94,255);
     color: white;
     vertical-align: top;
     order:4;
}
.cinco4{
     width: 40px;
     background-color: rgba(241,196,15,255);
     color: white;
     vertical-align: top;
     
     
}
.seis4{
    width: 40px;
     background-color: rgba(230,126,34,255);
     color: white;
     vertical-align: top;
     order: 9;
}
.siete4{
     width: 40px;
     background-color: rgba(250, 80, 70,255);
     color: white;
     vertical-align: top;
     order: 5;
}
.ocho4{
     width: 40px;
     background-color: rgba(180, 180, 180,255);
     color: white;
     vertical-align: top;
     order: 6;
}
.nueve4{
     width: 40px;
     background-color: rgba(61, 200, 113,255);
     color: white;
     vertical-align: top;
     order: 7;
}
.diez4{
     width: 40px;
     background-color:rgba(30, 155, 110,255);
     color: white;
     vertical-align: top;
     position: relative;
     order: 8;
}
.rectangulo5{
     display: flex;
     width: 400px; 
     height: 300px; 
     border: 2.5px solid crimson;
     justify-content: space-between;
     flex-direction: column;
     align-items: stretch ; 

     
     
     
}
.uno5{
     
     height: 10px;
     
     background-color: rgba(26,188,156,255);
     color: white;
     vertical-align: top;
}
.dos5{
     
     height: 10px;
     background-color: rgba(52,152,219,255);
     color: white;
     vertical-align: top;
}
.tres5{
     
     height: 10px;
     
     background-color: rgba(155,89,182,255);
     color: white;
     vertical-align: top;
}
.cuatro5{
     
     height: 10px;
     background-color:rgba(52,73,94,255);
     color: white;
     vertical-align: top;
}
.cinco5{
   
     height: 10px;
     background-color: rgba(241,196,15,255);
     color: white;
     vertical-align: top;
}
.seis5{
     
     height: 10px;
     background-color: rgba(230,126,34,255);
     color: white;
     vertical-align: top;
}
.siete5{
     
     height: 10px;
     background-color: rgba(250, 80, 70,255);
     color: white;
     vertical-align: top;
}
.ocho5{
    
     height: 10px;
     background-color: rgba(180, 180, 180,255);
     color: white;
     vertical-align: top;
}
.nueve5{
     
     height: 10px;
     background-color: rgba(61, 200, 113,255);
     color: white;
     vertical-align: top;
}
.diez5{
     
     height: 10px;
     background-color:rgba(30, 155, 110,255);
     color: white;
     vertical-align: top;
     position: relative;
}
.rectangulo6{

     display: flex;
     border: 2.5px solid crimson;
     align-items: baseline;
     flex-direction: row;
     height: 200px;
     width: 500px;

}

.uno6{
     
     
     width: 20px;
     height: 15px;
     background-color: rgba(26,188,156,255);
     color: white;
     font-size:smaller;
     
}
.dos6{
    
    
     background-color:  rgba(52,152,219,255);
     color: white;
     width: 20px;
     height: 25px;
     font-size:medium;
     
}
.tres6{
     
     width: 20px;
     background-color: rgba(155,89,182,255);
     color: white;
     height: 30px;
     font-size:larger;
}
.cuatro6{
     width: 20px;
     background-color: rgba(52,73,94,255);
     color: white;
     vertical-align: top;
     height: 45px;
     font-size:xx-large;
}
.cinco6{
     width: 20px;
     background-color:rgba(241,196,15,255);
     color: white;
     vertical-align: top;
     height: 10px;
     font-size:x-small;
}
.seis6{
     width: 20px;
     background-color: rgba(230,126,34,255);
     color: white;
     vertical-align: top;
     height: 25px;
     font-size:larger;
}
.siete6{
     width: 20px;
     background-color: rgba(250, 80, 70,255);
     color: white;
     vertical-align: top;
     height: 25px;
     font-size:larger;
}
.ocho6{
     width: 20px;
     background-color: rgba(180, 180, 180,255);
     color: white;
     vertical-align: top;
     height: 25px;
     font-size:larger;
}
.nueve6{
     width: 20px;
     background-color:  rgba(61, 200, 113,255);
     color: white;
     vertical-align: top;
     height: 25px;
     font-size:larger;
}
.diez6{
     width: 20px;
     background-color: rgba(30, 155, 110,255);
     color: white;
     font-size:medium;
     
     vertical-align: top;
     height: 20px;
}
.rectangulo7{
    
          display: flex;
          flex-flow:wrap;
          width: 600px; 
          height: 300px; 
          border: 2.5px solid crimson;
          align-content: flex-start;
          
          
     
     
}
.uno7{
     margin-top: 60px;
     width: 200px;
     height: 50px; 
     background-color: rgba(26,188,156,255);
     color: white;
     
   
}
.dos7{
     margin-top: 60px;
     width: 200px;
     height: 50px; 
     background-color: rgba(52,152,219,255);
     color: white;
     
}
.tres7{
     margin-top: 60px;
     width: 200px;
     height: 50px;  
     
     background-color: rgba(155,89,182,255);
     color: white;
    
}
.cuatro7{
     width: 200px;
     height: 50px; 
     background-color: rgba(52,73,94,255);
     color: white;
    
}
.cinco7{
     width: 200px;
     height: 50px;  
     background-color: rgba(241,196,15,255);
     color: white;
    
}
.seis7{
     width: 200px;
     height: 50px; 
     background-color: rgba(230,126,34,255);
     color: white;
   
}
.siete7{
     width: 200px;
     height: 50px; 
     background-color: rgba(250, 80, 70,255);
     color: white;
 
}
.ocho7{
     width: 200px;
     height: 50px;  
     background-color:rgba(180, 180, 180,255); 
     color: white;
     
}
.nueve7{
     width: 200px;
     height: 50px; 
     background-color: rgba(61, 200, 113,255);
     color: white;
    
}
.diez7{
     width: 200px;
     height: 50px; 
     background-color: white;
     color: white;
    
     
     
}
.diez72{
     width: 200px;
     height: 50px;  
     background-color:rgba(30, 155, 110,255);
     color: white;
    
     
     
}

.rectangulo8{
     display: flex;
     border: 2.5px solid crimson;
     width: 400px; 
     height: 300px;
     
}
.uno8{
     width: 50px;
     height: 30px;
     
     background-color: rgba(26,188,156,255);
     color: white;
     
}
.dos8{
     width: 50px;
     
     background-color: rgba(52,152,219,255);
     color: white;
     vertical-align: top;
     align-items: stretch;
     
}
.tres8{
     width: 50px;
     height: 30px;
     
     background-color:rgba(155,89,182,255);
     color: white;
    
}
.cuatro8{
     width: 50px;
     height: 30px;
     background-color: rgba(52,73,94,255);
     color: white;
     vertical-align: top;
}
.cinco8{
     width: 50px;
     height: 30px;
     background-color: rgba(241,196,15,255);
     color: white;
     
}
.seis8{
     grid-column: auto;
     width: 50px;
     height: 30px;
     background-color:  rgba(230,126,34,255);
     color: white;
     align-self:center;
    
}
.siete8{
     width: 50px;
     height: 30px;
     background-color:rgba(250, 80, 70,255);
     color: white;
    
}
.ocho8{
     width: 50px;
     height: 30px;
     background-color: rgba(180, 180, 180,255);
     color: white;
     
}
.nueve8{
     width: 50px;
     height: 50px;
     background-color: rgba(61, 200, 113,255);
     color: white;
     align-self:end;
}
.diez8{
     width: 50px;
     height: 30px;
     background-color:rgba(30, 155, 110,255); 
     color: white;
}
.rectangulo9{
     display: flex;
     width: 600px; 
     height: 25px;
     align-content:flex-start;
     }
.uno9{
     width: 75px;
     background-color: rgba(26,188,156,255);
     color: white;
     vertical-align: top;
}
.dos9{
     width: 150px;
     background-color: rgba(52,152,219,255);
     color: white;
      vertical-align: top;
     
}
.tres9{
     width: 60px;
     background-color: rgba(155,89,182,255);
     color: white;
     vertical-align: top;
}
.cuatro9{
     width: 70px;
     color: white;
     background-color: rgba(52,73,94,255);
    
}
.cinco9{
     width: 150px;
 
     background-color: rgba(241,196,15,255);
     color: white;
     vertical-align: top;
}
.seis9{
     width: 75px;
    
     background-color: rgba(230,126,34,255);
     color: white;
     
}
.rectangulo10{
     display:flex;
     width: 600px; 
     height: 280px; 
     border: 2.5px solid crimson;
    
    
     
}
.column{
     width: 300px; 
     height: 300px;
    

}
.column2{
     width: 300px; 
     height: 300px;
}
.uno10{
     width: 300px;
     height: 80px;
     
     background-color: rgba(26,188,156,255);
     color: white;
 
     order:1;
}
.dos10{
     width: 300px;
     height: 80px;
     background-color: rgba(52,152,219,255);
     color: white;
     
     order:3;
}
.tres10{
     width: 300px;
     height: 80px;
     order:5;
     
     background-color: rgba(155,89,182,255);
     color: white;
     
}
.cuatro10{
     width: 300px;
     height: 40px;
     background-color: rgba(52,73,94,255);
     color: white;
     
     order:6;
}
.cinco10{
     width: 300px;
     height: 140px;
     background-color: rgba(241,196,15,255);
     color: white;
     
     order:2;
}
.seis10{
     width: 300px;
     height: 140px;
     background-color: rgba(230,126,34,255);
     color: white;
    
     order:4;
     flex-wrap: wrap;
     
}



